.Rproj.user
.Rhistory
.RData
.Ruserdata
/bootstrap_run12/modelfit_dir1
/bootstrap_run12/modelfit_dir1
/bootstrap_run12/modelfit_dir1
/bootstrap_run12/modelfit_dir1
/bootstrap_run12/modelfit_dir1
/bootstrap_run12
/bootstrap_run16
/bootstrap_run16_test
/scm_run15
/vpc_run16
/vpc_run15
